{% load static %}

<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{% url 'dashboard_home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo" style="max-width: 64px; margin-left: 3.5rem" />
        </a>

        <ul class="sidebar-nav">
            <!-- Pages Header -->
            <li class="sidebar-header">
                Dashboard
            </li>
        
            <!-- Dashboard -->
            <li class="sidebar-item active">
                <a class="sidebar-link" href="{% url 'dashboard_home' %}">
                    <i class="align-middle" data-feather="sliders"></i> 
                    <span class="align-middle">Overview</span>
                </a>
            </li>
        
            <!-- Result Management Header -->
            <li class="sidebar-header">
                Result Management
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="upload"></i> 
                    <span class="align-middle">Upload Results</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="eye"></i> 
                    <span class="align-middle">View Results</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="bar-chart-2"></i> 
                    <span class="align-middle">Result Analysis</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="file-text"></i> 
                    <span class="align-middle">Generate Spreadsheet</span>
                </a>
            </li>
        
            <!-- Student Management Header -->
            <li class="sidebar-header">
                Student Management
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="users"></i> 
                    <span class="align-middle">Manage Students</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="user-plus"></i> 
                    <span class="align-middle">Student Registration</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="list"></i> 
                    <span class="align-middle">Student List</span>
                </a>
            </li>
        
            <!-- Settings Header -->
            <li class="sidebar-header">
                Settings
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="settings"></i> 
                    <span class="align-middle">System Settings</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="user"></i> 
                    <span class="align-middle">User Profile</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="log-out"></i> 
                    <span class="align-middle">Log Out</span>
                </a>
            </li>
        </ul>
        
        

        <div class="sidebar-cta" style="opacity: 0.8;">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">PETER ERHUNMWUNSE</strong>
                <div class="mb-3 text-sm">
                    Staff ID: U46784747478
                </div>
                <div class="d-grid">
                    <a href="#" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>