{% load static %}


<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{% url 'dashboard_home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo" style="max-width: 64px; margin-left: 3.5rem" />
        </a>

        <ul class="sidebar-nav">
            {% for group in sidebar_menu %}
                <!-- Sidebar Header -->
                <li class="sidebar-header">
                    {{ group.name }}
                </li>

                {% for item in group.items %}
                    <!-- Sidebar Item -->
                    <li class="sidebar-item {% if active_link == item.link %}active{% endif %}">
                        <a class="sidebar-link" href="{{ item.link }}">
                            <i class="align-middle" data-feather="{{ item.icon }}"></i> 
                            <span class="align-middle">{{ item.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2 text-gray">PETER ERHUNMWUNSE</strong>
                <div class="mb-3 text-sm">
                    Staff ID: U46784747478
                </div>
                <div class="d-grid">
                    <a href="#" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>