.card:not(.login-card) {
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #e8ecf2 !important;
    box-shadow: none !important;
}

.stat {
    align-items: center;
    background: #f6faff;
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
}

.card-title {
    color: #222 !important;
    font-size: .825rem;
    font-weight: 500;
}

.card-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222 !important;
}

.navbar-bg {
    background: transparent;
}

.navbar {
    border-bottom: 0;
    box-shadow: none;
    padding: 1rem 3rem;
}

.form-outline .form-control, .form-control {
    background: rgba(255, 255, 255, 0.5);
    border: var(--mdb-border-width) solid var(--mdb-border-color);
}

.table > :not(caption) > * > * {
    background-color: rgba(var(--mdb-table-bg), 0.5);
}

.btn {
    --mdb-btn-hover-box-shadow: 0;
    --mdb-btn-active-box-shadow: 0;
    --mdb-btn-box-shadow: 0;
}

.btn:hover {
    --mdb-btn-box-shadow: 0;
}

.error {
    color: #e63946;
    font-size: 0.9em;
}

.btn-group, .btn-group-vertical {
    --mdb-btn-box-shadow: none;
    --mdb-btn-hover-box-shadow: none;
    --mdb-btn-focus-box-shadow: none;
    --mdb-btn-active-box-shadow: none;
    --mdb-btn-group-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: var(--mdb-btn-box-shadow);
    transition: var(--mdb-btn-group-transition);
}

.text-review {
    color: #fd7e14; 
}

@media (min-width: 992px) {
    .content {
        padding: 1rem 3rem 1.5rem;
    }
}