{% extends "base.html" %}
{% load static %}

{% block title %}Overview{% endblock %}

{% block page_title %}
<!-- Page Title with Animation -->
<h1 class="h3 mb-4 animate__animated animate__fadeIn"><strong>Overview</strong></h1>
{% endblock %}

{% block content %}
<div x-data="dashboardStats()" x-init="fetchStats()">
    <div class="row animate__animated animate__fadeIn" id="dashboard-stats">
      <template x-for="stat in stats" :key="stat.title">
        <div class="col-md-3">
          <div class="card rounded-lg" style="border: none; box-shadow: none;">
            <div class="card-body">
              <div class="row d-flex align-items-center">
                <div class="col-auto">
                  <div class="stat text-primary">
                    <!-- Dynamically update the icon -->
                    <i class="align-middle" :class="stat.icon"></i>
                  </div>
                </div>
                <div class="col mt-2">
                  <!-- Dynamically update the title and value -->
                  <h5 class="card-title" x-text="stat.title"></h5>
                  <h4 class="mt-1 card-subtitle" x-text="stat.value"></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
</div>
  

<div class="row mt-4 animate__animated animate__fadeIn">
    <!-- Graph Section -->
    <div class="col-md-8">
        <div class="card rounded-lg" style="border: none; box-shadow: none;">
            <div class="card-body">
                <h5 class="card-title mb-4">Course Performance Trend</h5>
                <div class="chart">
                    <canvas id="chartjs-line"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent Activities Section -->
    <div class="col-md-4">
        <div class="card rounded-lg" style="border: none; box-shadow: none;">
            <div class="card-body">
                {% include '../components/recent_activities.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_scripts %}
    {% include '../components/performance_chart_script.html' %}
{% endblock %}