{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="{% static 'img/icons/icon-48x48.png' %}" />

  
    {% include "components/styles.html" %}

    
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Include Spin.js from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <script src="{% static 'js/utilities.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
  
    <script src="{% static 'js/store.js' %}"></script>

    {% block head %}{% endblock %}
</head>

<body>
    <div class="wrapper">

        {% include "layout/sidebar.html" %}

        <div class="main">
            {% include "layout/navigation.html" %}

            <main class="content">
                <div class="container-fluid p-0">
                    {% block page_title %}{% endblock %}

                    {% block content %}{% endblock %}
                </div>
            </main>

            {% include "layout/footer.html" %}
        </div>
    </div>

    {% include "components/scripts.html" %}
    {% block custom_scripts %}{% endblock %}

</body>

</html>