
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{{greeting}}</h1>
    <h1>Good to see this page displaying in the exe.</h1>

    <img src="{% static 'img/logo.png' %}" alt="Uniport" />

    <ul>
        {% for fruit in data %}
            <li>{{ fruit.name }} - {{ fruit.color }}</li>
        {% endfor %}
    </ul>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>